/* --- Map --- */

.map {
    position: relative;
}

.map iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#contactForm {
    font-family: 'Times New Roman', Times, serif;
}


/* ------ ajax indicator ------- */

#wait {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1060;
}