/* --- Map --- */
.map{
	position:relative;
}

.map iframe{
	width:100%;
	height:500px;    
    border: none;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.form-control {
    color: white;
}
