/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #f2184f;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

/* Section with background
--------------------------------*/

.section-bg {
    background: #f7f7f7;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
    padding: 60px 0;
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    background: #18d26e;
    color: #fff;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;
}

#portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#portfolio .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
    background: #18d26e;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 0px;
    padding-bottom: 0;
    font-family: inherit;
}

#portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
    font-family: initial;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #18d26e;
}

#portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

/* Clients Section
--------------------------------*/

#clients {
    padding: 60px 0;
}

#clients img {
    max-width: 100%;
    transition: 0.3s;
    padding: 15px 0;
}

#clients .owl-nav, #clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #f2184f;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
    margin-top: 50px;
    padding: 20px 0;
}

#testimonials .section-header {
    margin-bottom: 40px;
}

#testimonials .testimonial-item {
    text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
    margin-top: -15px;
    padding-right: 10px;
    display: inline-block;
    width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
    margin-bottom: -15px;
    padding-left: 10px;
    display: inline-block;
    max-width: 100%;
    width: 37px;
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

#testimonials .owl-nav, #testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#testimonials .owl-dot.active {
    background-color: #f2184f;
}

/* Ourteam Section
--------------------------------*/

.team h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 18px;
}

.team h5 {
    font-weight: 300;
}

.single-profile-top, .single-profile-bottom {
    font-weight: 400;
    line-height: 24px;
}

.single-profile-top, .single-profile-bottom {
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
}

.team .btn {
    background: transparent;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 3px;
    padding: 1px 5px;
    text-transform: uppercase;
    border: 1px solid#ddd;
    margin-right: 3px;
}

ul.social_icons, ul.tag {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    display: block;
}

ul.social_icons li, ul.tag li {
    display: inline-block;
    margin-right: 5px;
    color: rgb(243, 10, 119);
}

ul.social_icons li a i {
    border-radius: 50%;
    color: #FFFFFF;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0;
    text-align: center;
    width: 25px;
    opacity: .8;
}

.team .social_icons .fa-facebook:hover, .team .social_icons .fa-twitter:hover, .team .social_icons .fa-google-plus:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
    opacity: 1;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.team .social_icons .fa-facebook {
    background: #0182c4;
}

.team .social_icons .fa-twitter {
    background: #20B8FF
}

.team .social_icons .fa-google-plus {
    background: #D34836
}

.team-bar .first-one-arrow {
    float: left;
    margin-right: 30px;
    width: 2%;
}

.team-bar .first-arrow {
    float: left;
    margin-left: 5px;
    margin-right: 35px;
    width: 20%;
}

.team-bar .second-arrow {
    float: left;
    margin-left: 5px;
    width: 20%;
}

.team-bar .third-arrow {
    float: left;
    margin-left: 40px;
    margin-right: 12px;
    width: 21%;
}

.team-bar .fourth-arrow {
    float: left;
    margin-left: 25px;
    width: 21%;
}

.team-bar .first-one-arrow hr {
    border-bottom: 1px solid #2D7DA4;
    border-top: 1px solid #2D7DA4;
}

.team-bar .first-arrow hr {
    border-bottom: 1px solid #2D7DA4;
    border-top: 1px solid #2D7DA4;
}

.team-bar .second-arrow hr {
    border-bottom: 1px solid #6aa42f;
    border-top: 1px solid #6aa42f;
}

.team-bar .third-arrow hr {
    border-bottom: 1px solid #FFBD20;
    border-top: 1px solid #FFBD20;
}

.team-bar .fourth-arrow hr {
    border-bottom: 1px solid #db3615;
    border-top: 1px solid #db3615;
}

.team-bar {
    margin-bottom: 15px;
    margin-top: 30px;
    position: relative;
}

.team-bar i {
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 24px;
    line-height: 24px;
    margin-top: -32px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 24px;
    position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
    background: #2D7DA4;
    margin-left: -33px
}

.team-bar .second-arrow .fa-angle-down {
    background: #6AA42F;
    margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
    background: #FFBD20;
    margin-left: -32px;
}

.team-bar .fourth-arrow .fa-angle-down {
    background: #db3615;
    margin-left: -32px;
}

.team .single-profile-top:before, .team .single-profile-top:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.team .single-profile-top:before {
    left: 26px;
    bottom: -20px;
    border-width: 10px;
    border-color: #fff transparent transparent transparent;
    z-index: 1;
}

.team .single-profile-top:after {
    left: 25px;
    bottom: -22px;
    border-style: solid;
    border-width: 11px;
    border-color: #ddd transparent transparent transparent;
    z-index: 0;
}

.team .single-profile-bottom:before, .team .single-profile-bottom:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.team .single-profile-bottom:before {
    left: 30px;
    top: -20px;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
}

.team .single-profile-bottom:after {
    left: 29px;
    top: -22px;
    border-style: solid;
    border-width: 11px;
    border-color: transparent transparent #DDD transparent;
    z-index: 0;
}