* {
    box-sizing: border-box;
}

.container-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.form {
    padding: 30px 40px;
}

.form-control-custom {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control-custom label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control-custom input[type='text'],
input[type='password'],
input[type='email'] {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control-custom .radio {
    width: 100%;
    height: 44px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    background-color: #fff;
}

.form-control-custom .radio input {
    margin-left: 20px;
}

.form-control-custom .radio label {
    margin-left: 5px;
    margin-bottom: 0;
}

.form-control-custom input:focus {
    outline: 0;
    border-color: #777;
}

.form-control-custom.success input {
    border-color: #2ecc71;
}

.form-control-custom.error input {
    border-color: #e74c3c;
}

.form-control-custom i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control-custom.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control-custom.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control-custom small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control-custom.error small {
    visibility: visible;
}

.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}