/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    border-top: 1px solid #4b545c;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #404068;
    border-bottom: 1px solid #4b545c;
    text-align: center;
}

#sidebar .sidebar-header p{
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {    
    background: #909192;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #717274;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 35px !important;
    background: #444a50;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}