body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 30px 0;
}

/* ---------------------------------------------------
    DASHBOARD STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#content {
    width: calc(100% - 250px); 
    margin-top: 50px    ;   
    padding: 20px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}   

#content.active {
    width: 100%;
}

.box > .card-body {
    padding: 1rem;
}

.box .card-title {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }   
}
